<p id="notice"><%= notice %></p>

<p>
  <b>Entry date:</b>
  <%= @foodlog.entry_date %>
</p>

<p>
  <b>Water:</b>
  <%= @foodlog.water %>
</p>

<p>
  <b>Leafy green:</b>
  <%= @foodlog.leafy_green %>
</p>

<p>
  <b>Vitamin c:</b>
  <%= @foodlog.vitamin_c %>
</p>

<p>
  <b>Calories:</b>
  <%= @foodlog.calories %>
</p>

<p>
  <b>Protein:</b>
  <%= @foodlog.protein %>
</p>

<p>
  <b>Calcium:</b>
  <%= @foodlog.calcium %>
</p>

<p>
  <b>Fruit and veg:</b>
  <%= @foodlog.fruit_and_veg %>
</p>

<p>
  <b>Whole grain:</b>
  <%= @foodlog.whole_grain %>
</p>

<p>
  <b>Iron rich:</b>
  <%= @foodlog.iron_rich %>
</p>

<p>
  <b>Fat foods:</b>
  <%= @foodlog.fat_foods %>
</p>

<p>
  <b>Vitamins:</b>
  <%= @foodlog.vitamins %>
</p>


<%= link_to 'Edit', edit_foodlog_path(@foodlog) %> |
<%= link_to 'Back', foodlogs_path %>
