<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @food.name %>
</p>

<p>
  <b>Green:</b>
  <%= @food.green %>
</p>

<p>
  <b>Vitamin c:</b>
  <%= @food.vitamin_c %>
</p>

<p>
  <b>Protein:</b>
  <%= @food.protein %>
</p>

<p>
  <b>Calcium:</b>
  <%= @food.calcium %>
</p>

<p>
  <b>Fruits and veg:</b>
  <%= @food.fruits_and_veg %>
</p>

<p>
  <b>Whole grain:</b>
  <%= @food.whole_grain %>
</p>

<p>
  <b>Iron rich:</b>
  <%= @food.iron_rich %>
</p>

<p>
  <b>Fat food:</b>
  <%= @food.fat_food %>
</p>

<p>
  <b>Vitamins:</b>
  <%= @food.vitamins %>
</p>

<p>
  <b>Daily Need:</b>
  <%= @food.daily_need %>
</p>

<p>
  <b>Serving Value:</b>
  <%= @food.serving_value %>
</p>


<%= link_to 'Edit', edit_food_path(@food) %> |
<%= link_to 'Back', foods_path %>
